<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- DB connection -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:parking.db</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>

        <!-- Schema auto-update -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- SQL Logging -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entities -->
        <mapping class="iss.parkingapp.domain.Masina"/>
        <mapping class="iss.parkingapp.domain.Utilizator"/>
        <mapping class="iss.parkingapp.domain.LocParcare"/>
        <mapping class="iss.parkingapp.domain.Rezervare"/>

    </session-factory>
</hibernate-configuration>
