<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Concurs" connectionString="Data Source=C:/Users/razva/Desktop/MPP2/mpp-proiect-java-Razvannnnn/Problema8/ConcursSportiv;Version=3;Timeout=30;" providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>
