.rainbow-wrapper {
    position: relative;
    width: 90vw;
    height: 45vw;
    overflow: hidden;
}

.rainbow-wrapper div {
    border-radius: 90vw 90vw 0 0;
}

.red {
    background-color: red;
    width: 90vw;
    height: 45vw;
    position: absolute;
}

.orange {
    background-color: orange;
    width: 85vw;
    height: 42.5vw;
    position: absolute;
    left: 2.5vw;
    top: 2.5vw;
}

.yellow {
    background-color: yellow;  
    width: 80vw;
    height: 40vw;
    position: absolute;
    left: 5vw;
    top: 5vw;
}

.green {
    background-color: green;
    width: 75vw;
    height: 42.5vw;
    position: absolute;
    left: 7.5vw;
    top: 7.5vw;
}

.blue {
    background-color: blue;
    width: 70vw;
    height: 35vw;
    position: absolute;
    left: 10vw;
    top: 10vw;
}

.purple {
    background-color: purple;
    width: 65vw;
    height: 32.5vw;
    position: absolute;
    left: 12.5vw;
    top: 12.5vw;
}

.pink {
    background-color: pink;
    width: 60vw;
    height: 30vw;
    position: absolute;
    left: 15vw;
    top: 15vw;
}

.lightblue {
    background-color: lightblue;
    width: 55vw;
    height: 27.5vw;
    position: absolute;
    left: 17.5vw;
    top: 17.5vw;
}

.white {
    background-color: white;
    width: 50vw;
    height: 25vw;
    position: absolute;
    left: 20vw;
    top: 20vw;
}