<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="connectionString" connectionString="Server=ROG_RAZVAN\SQLEXPRESS;Database=BazaDateSGBD;
        Integrated Security=True;TrustServerCertificate=true;" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
        
        <add key="ParentTableName" value="Sporturi"/>
        <add key="ChildTableName" value="Echipe"/>
        <add key="IndexID" value="0"/>
        <add key="ChildToParentID" value="id_sport"/>
        <add key="ChildNumberOfColumns" value="3"/>
        <add key="ChildColumnNames" value="nume, tara, id_antrenor"/>
        <add key="ChildColumnTypes" value="string, string, int"/>
        <add key="ChildArr" value="@nume, @tara, @id_antrenor"/>

        <add key="ChildInsertQUERY" value="INSERT INTO Echipe (nume, tara, id_antrenor, id_sport) VALUES (@nume, @tara, @id_antrenor, @id);"/>
        <add key="ChildDeleteQUERY" value="DELETE FROM Echipe WHERE id_echipa = @id;"/>
        <add key="ChildUpdateQUERY" value="UPDATE Echipe SET nume = @nume, tara = @tara, id_antrenor = @id_antrenor WHERE id_echipa = @id;"/>


        <!--
        <add key="ParentTableName" value="Evenimente"/>
        <add key="ChildTableName" value="Programari"/>
        <add key="IndexID" value="0"/>
        <add key="ChildToParentID" value="id_eveniment"/>
        <add key="ChildNumberOfColumns" value="3"/>
        <add key="ChildColumnNames" value="start_time, end_time, descriere"/>
        <add key="ChildColumnTypes" value="time, time, string"/>
        <add key="ChildArr" value="@start_time, @end_time, @descriere"/>
        
        <add key="ChildInsertQUERY" value="INSERT INTO Programari (start_time, end_time, descriere, id_eveniment) VALUES (@start_time, @end_time, @descriere, @id);"/>
        <add key="ChildDeleteQUERY" value="DELETE FROM Programari WHERE id_programare = @id;"/>
        <add key="ChildUpdateQUERY" value="UPDATE Programari SET start_time = @start_time, end_time = @end_time, descriere = @descriere WHERE id_programare = @id;"/>
                     -->  
    </appSettings>
</configuration>
